<!DOCTYPE html>
<html>	 	   
  <head>		
    <meta charset="UTF-8">
    <title>NUDL</title>		
  </head>			
  <body>			
  
  </body>

  <script>
    var data = {a: "3", b : "2"}
    
    <%=jsonData%>
  </script>
</html>
