<!DOCTYPE html>
<html>	 	   
  <head>		
    <meta charset="UTF-8">
    <title>NUDL</title>		
     <SCRIPT LANGUAGE="JAVASCRIPT" TYPE="TEXT/JAVASCRIPT" SRC="/JS/p5.js"></SCRIPT>
    <script  language="javascript" type="text/javascript" src="/JS/sketch.js"/>
  </head>			

  <body>			
  
  </body>

  <script>
    var data = {"a": "3", "b" : "2"}    
    <%=jsonData%>
  </script>
</html>
