body{
    background: url('/assets/Wood-Background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#centerImage{
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    width: 30em;
}

#counter{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}

#transcribe{
    display: block;
    margin: 0 auto;
}