body{
    background: url('/assets/Wood-Background-Logo.png') no-repeat center center fixed;
    background-size: cover;
}

#enterButton{
    margin-top: 15em;
    margin-left: 43%;

    background-color: transparent;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:2px solid #774627;
    cursor:pointer;
    color: #774627;
    font-family:Georgia;
    font-size:45px;
    padding:16px 31px;
    text-decoration: none;
}

#enterButton:hover {
    background: #f2dfb5;
    text-decoration: none;
}